body {
    background-image: url("/public/style/img/cheese.png");
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
    text-align: center;
}

li {
    text-align: center;
    margin: 5px;
}

a {
    float: left;
    width: 150px;
    padding: .75rem 0;
    margin: 5px;
    text-decoration: none;
    color: ivory;
    background: black;
    border: 0.2em solid darkgreen;
    border-radius: 10px;
    text-align: center;
}

a:hover {
    margin-left: .5%;
}

span {
    margin: 5px;
}

form {
    margin: 5px;
    padding: 10px;
}

img {
    margin: 10px;
}

.button_link {
    position: relative;
    background: black;
    color: ivory;
    text-transform: uppercase;
    text-decoration: none;
    border: 0.2em solid darkgreen;
    padding: 0.5em 1em;
    border-radius: 10px;
}

@media only screen and (min-width: 480px) {
    body {
        background-image: url("/public/style/img/cheese.png");
    }
    li {
        text-align: center;
        margin: 5px;
    }
}