body {
    background-image: url("/public/style/img/cheese.png");
    /* background-repeat: no-repeat;
    background-size: 100% 100%; */
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 480px) {
    body {
        background-image: url("/public/style/img/cheese.png");
    }
}