<!DOCTYPE html>
<html lang="en">

<head>
    <title>Error</title>
    <link rel="stylesheet" href="/public/style/reset.css" />
    <link rel="stylesheet" href="/public/style/base.css" />
    <link rel="stylesheet" href="/public/style/layout.css" />
    <link rel="stylesheet" href="/public/style/modules.css" />
</head>

<body>
    <h1>HEY STUPID THIS PAGE DOES NOT EXIST!</h1>
</body>

</html>