<head>
    <title>Book_app</title>
    <link rel="stylesheet" href="/public/style/reset.css" />
    <link rel="stylesheet" href="/public/style/base.css" />
    <link rel="stylesheet" href="/public/style/layout.css" />
    <link rel="stylesheet" href="/public/style/modules.css" />
</head>